
body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185,75%,39%);
}

p {
    color: grey;
}

hr {
    border-color: hsl(0,0%,90%);
    border-style: solid;
    border-width: 1px;
}

.card-holder {
    position: relative;
}

.card {
    display: block;
    width: 350px;
    height: 375px;
    position: absolute;
    margin: 0;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 50%);
}

.stats {
    line-height: .5;
}

.bold {
    font-weight: 800;
    color: black;
}

.label {
    font-size:10px;
}

.attribution {
    position: absolute;
    margin-top: 10px;
}

.stats-follower {
    display: inline-block;
    margin: 10px 25px;
}

.stats-like {
    display: inline-block;
    margin: 10px 25px;
}

.stats-photo {
    display: inline-block;
    margin: 10px 25px;
}

#bg-img-top {
    position: absolute;
    left: -498px;
    top: -498px;
}

#bg-img-bottom {
    position: absolute;
    left: 100%;
    transform: translate(-498px, 498px);
    z-index: -1;
}

#name {
    display: inline-block;
    margin: 70px 7px 0px 0px;
}

#age {
    display: inline-block;
}

#location {
    width: 30%;
    margin: -5px auto 25px auto;
    font-size: 14px;
    font-weight:200;
}

#img-person {
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    position: absolute;
    bottom: 180px;
    right: 125px;
    margin: -2px auto 0;
}

#bg-card {
    margin: auto;
    margin-top: -1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
